html, body {
  margin: 20px;
}
.btn {
  margin-bottom: 5px;
  font-size: 25px;
  border: 1px solid #333333;
  background-color: #EFEFEF;
}
.btn.clear{
  background-color: #7C424E;
  color: #FFFFFF;
}

.btn.operator{
  background-color: #999999;
  color: #FFFFFF;
}
.screen{
  border: 1px solid #333333;
  font-size: 25px;
  height: 48px;
  border-radius: 5px;
  padding: 5px;
}